<?xml version="1.0" encoding="UTF-8"?>
<layout>

    <menu_admin_index>
        <reference name="head">
            <action method="addItem">
                <type>skin_css</type>
                <name>edge/menu.css</name>
            </action>
        </reference>
        <update handle="editor"/>
        <reference name="content">
            <block type="menu/adminhtml_setup" name="adminhtml.menu.setup" template="edge/menu/setup.phtml">
                <block type="menu/adminhtml_catalog_category" name="categories_tree" template="edge/menu/categories.phtml">
                    <action method="setData">
                        <key>title</key>
                        <value>Categories</value>
                    </action>
                </block>
                <block type="menu/adminhtml_catalog_product" name="products_list">
                    <action method="setData">
                        <key>title</key>
                        <value>Products</value>
                    </action>
                </block>
                <block type="menu/adminhtml_cms_page" name="cms_page">
                    <action method="setData">
                        <key>title</key>
                        <value>CMS Pages</value>
                    </action>
                </block>
                <block type="core/template" name="custom_link" template="edge/menu/custom_link.phtml">
                    <action method="setData">
                        <key>title</key>
                        <value>Custom Link</value>
                    </action>
                </block>
            </block>
        </reference>
    </menu_admin_index>

    <menu_admin_productgrid>
        <block type="core/text_list" name="root" output="toHtml">
            <block type="menu/adminhtml_catalog_product_grid" name="admin.product.grid"/>
        </block>
    </menu_admin_productgrid>

</layout>