<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Menu>
            <version>1.0.1</version>
        </Edge_Menu>
    </modules>
    <global>
        <blocks>
            <menu>
                <class>Edge_Menu_Block</class>
            </menu>
        </blocks>
        <models>
            <menu>
                <class>Edge_Menu_Model</class>
                <resourceModel>menu_resource</resourceModel>
            </menu>
            <menu_resource>
                <class>Edge_Menu_Model_Resource</class>
                <entities>
                    <menu>
                        <table>menu</table>
                    </menu>
                </entities>
            </menu_resource>
        </models>
        <helpers>
            <menu>
                <class>Edge_Menu_Helper</class>
            </menu>
        </helpers>
        <resources>
            <menu_setup>
                <setup>
                    <module>Edge_Menu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </menu_setup>
        </resources>
    </global>
    <default>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <menu_image_folder>menu</menu_image_folder>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
    <frontend>
        <layout>
            <updates>
                <menu>
                    <file>edge/menu.xml</file>
                </menu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <menu before="Mage_Adminhtml">Edge_Menu_Adminhtml</menu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <menu>
                    <file>edge/menu.xml</file>
                </menu>
            </updates>
        </layout>
    </adminhtml>
</config>