<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="outeredge" translate="label" sortOrder="2000" class="outeredge-tab">
            <label>outer/edge</label>
        </tab>
        <section id="menu" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Menu</label>
            <tab>outeredge</tab>
            <resource>OuterEdge_Menu::MenuSettings</resource>
            <group id="menu" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Menu</label>
                <field id="enable_override" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Override Default Magento Menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_menu" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Menu</label>
                    <source_model>OuterEdge\Menu\Model\Config\Source\Menu</source_model>
                    <depends>
                        <field id="enable_override">1</field>
                    </depends>
                </field>
            </group>
            <group id="menu_image_size" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Resize Images</label>
                <field id="enable_image_resize" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Image Resizing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Resizes all bitmap images (svg will be ignored) found in the menu</comment>
                    <tooltip>If disabled make sure the images uploaded are sized correctly before uploading</tooltip>
                </field>
                <field id="width" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width</label>
                    <depends>
                        <field id="enable_image_resize">1</field>
                    </depends>
                </field>
                <field id="height" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Height</label>
                    <depends>
                        <field id="enable_image_resize">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
